


    <a class="btn btn-primary sonata-action-element" href="{{ admin.generateUrl('excelExport', {'id': object.id}) }}" >
        <i class="glyphicon glyphicon-export"></i>
        {{ 'link_action_export'|trans({}, 'formGenerator') }}</a>
